<manifest package="org.securesystem.insular.open" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:dist="http://schemas.android.com/apk/distribution" xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <service android:name="org.securesystem.insular.SystemServiceBridge" android:exported="true" android:process=":api"> <!-- Run in separate process to isolate potential global injection -->
            <intent-filter>
                <action android:name="org.securesystem.insular.api.action.BIND_SYSTEM_SERVICE" />
                <data android:scheme="service" />
            </intent-filter>
        </service>

        <provider android:name="org.securesystem.insular.DelegatedScopeAuthorization$Initializer" android:authorities="org.securesystem.insular.open.initializer" android:exported="false" />
        <receiver android:name="org.securesystem.insular.DelegatedScopeAuthorization" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.content.action.REQUEST_PERMISSION" />
            </intent-filter>
        </receiver>

    </application>
</manifest>

